@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
body{
    display: flex;
    justify-content: space-around;
    background-color: #9966cc;
}
  #bg{
      position: fixed;
      width: 100%;
      background-color: #9966cc;
      /* top: -400px; */
      z-index: -1;
  }
  #paper {
    margin: 0 120px 0 120px;
    background-color: #121212;
    box-shadow: 0px 0px 10px;
  }
#name{
  text-align: center;
  margin-top: 15px;
  font-family: 'Roboto Mono', monospace;
}
header{
  height: 170px;
  padding: 40px;
  background-color: #121212;
  color: #e5e5e5;
  font-family: 'Share Tech Mono', monospace;
}
.typewriter{
  margin: auto;
  top: 50%;
  font-size: 200%;
  width: 18em;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.cursor{
  border-bottom: 3px #9966cc solid;
  width: 20px;
  position: absolute;
  top: 34px;
  right: -5px;
}

.type-anim{
  animation:
    typewriterDraw 3s 1s steps(42) 1 normal both;
}

.cursor-anim{
  animation: 
    blinkTextCursor 500ms steps(42,end) infinite normal;
}

@keyframes typewriterDraw{
  from{
    width: 0;
  }
  to{
    width: 18em;
  }
}
@keyframes blinkTextCursor{
  from{
    border-bottom-color: #9966cc;
  }
  to{
    border-bottom-color: transparent;
  }
}
.jumbotron{
  padding: 0px;
  margin: 50px;
  background-color: #262626;
  border: solid #9966cc 2px;
  border-radius: 10px;
}
.jumbotron-content{
  padding: 50px;
  text-align: center;
  color: whitesmoke;
}
.jumbotron-content h3{
  font-family: 'Share Tech Mono', monospace;
}
.jumbotron-pic{
  overflow: hidden;
  position: relative;
  height: 180px;
  width: 180px;
  float: left;
  margin: 20px;
  box-shadow: 0 3px 10px;
  border: solid #9966cc 2px;
  border-radius: 50%;
}

#work-history-pic{
  float: right;
}


#hr1{
  width: 90%;
  margin: 20px 5% 20px 5%;
}
.exp-holder{
  color: gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.exp-holder h3{
    color: #9966cc;
  }
  .exp-holder img{
    margin: 0 5%
  }
  .exp-holder h3{
    text-align: center
  }
  .exp{
    width: 35%;
    margin: 20px;
  }
  .edu{
    width: 35%;
    margin: 20px;
  }
 .school{
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: white;
 }
 .school:hover{
   text-decoration: underline;
   font-weight: bold;
   font-style: normal;
   color: white;
 }
.projects{
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}
#my-projects{
  font-family: 'Share Tech Mono';
  margin-left: 100px;
  color: #9966cc;
}
 .card {
   background-color: #121212;
  margin: 40px;
  width: 300px;
  height: 300px;
  perspective: 500px;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}
.front{
  background-color: black;
}
.card img{
  position: relative;
  width: 300px;
  height: 300px;
  top: -11px;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  font-size: 60px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  background: black;
  transform: rotateY( 180deg );
}





  footer{
    border-top: 1px solid black;
  }
  footer img{
    height: 50px;
    width: 50px;
    float: right;
    margin: 20px 30px 20px 0;
  }
  #myinfo p{
    margin: 3px 20px;
    font-size: smaller;
  }
  #credits{
    font-size: x-small;
    position: relative;
  }
 #contact{ 
   color: white;
    width: 400px;
    border: solid 2px #9966cc;
    padding: 20px;
    margin: 40px;
    background-color: #262626;
    border-radius: 10px;
  }
  #contact h3{
    font-family: 'Share Tech Mono', monospace;
  }
  #contact label{
    margin: 5px;
  }
  #contact button{
    margin: 8px;
    margin-bottom: 0;
    background-color:#262626;
    border-radius:6px;
    border:1px solid #9966cc;
    display:inline-block;
    cursor:pointer;
    color:#9966cc;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    font-weight: bold;
    text-decoration:none;
  }
  #contact button:hover {
    background-color:#9966cc;
    color: #262626;
  }
  #contact button:active {
    position:relative;
    top:1px;
  }
  .contactBox{
    width: 350px;
  }
  #contact textarea{
    height: 100px;
  }
          
